---
# tasks/user file for deb-bas
- name: Users | Remove users
  user:
    name: "{{ item }}"
    state: absent
  with_items: "{{ remove_users }}"
- name: Users | Remove groups
  group:
    name: "{{ item }}"
    state: absent
  with_items: "{{ remove_groups }}"

- name: Users | Add groups defined in user to the groups that will be created
  set_fact:
    add_groups: "{{ add_groups  }} + {{ item.groups|default([]) }}"
  with_items: "{{ add_users }}"
- name: Users | Add groups
  group:
    name: "{{ item }}"
    state: present
  with_items: "{{ add_groups }}"
- name: Users | Add users
  user:
    name: "{{ item.username }}"
    state: present
    comment: "{{ item.comment|default('') }}"
    groups: "{{ ','.join(item.groups) if item.groups is defined else [] }}"
    password: "{{ item.password|default('!!') }}"
  with_items: "{{ add_users }}"

- name: Users | Set SSH keys
  authorized_key:
    user: "{{ item.user }}"
    key: "{{ item.key }}"
  with_items: "{{ ssh_keys }}"
